<ion-content class="ion-padding detection-container">
  <h2>Sube una imagen para detectar objetos</h2>

  <!-- Input para subir imágenes -->
  <input type="file" (change)="onFileSelected($event)" accept="image/*" class="upload-input" />

  <div class="image-row">
    <!-- Imagen seleccionada por el usuario -->
    <div class="image-container">
      <h3>Imagen Original</h3>
      <img *ngIf="imageUrl" [src]="imageUrl" class="preview" alt="Imagen original" />
    </div>

    <!-- Botón de detección y resultados -->
    <div class="center-container">
      <ion-button expand="block" color="primary" (click)="uploadImage()" [disabled]="!selectedFile">
        Detectar Objetos
      </ion-button>

      <!-- Mostrar los resultados de la detección -->
      <div *ngIf="detections.length > 0" class="results-container">
        <h3>Resultados de la detección:</h3>
        <ul>
          <li *ngFor="let item of detections">
            <strong>{{ item.class }}</strong> - Confianza: {{ item.confidence | percent }}
          </li>
        </ul>
      </div>
    </div>

    <!-- Imagen con detección -->
    <div class="image-container">
      <h3>Detección</h3>
      <img *ngIf="detectionImageUrl" [src]="detectionImageUrl" class="preview" alt="Resultado de detección" />
    </div>
  </div>
</ion-content>
