ion-content {
    --background: transparent;
    --overflow: hidden;
  overflow: hidden;
  //height: 100vh; /* Para asegurar que ocupe toda la pantalla */
  }

.detection-container {
  text-align: center;
  color: #333;
}

.upload-input {
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.image-container {
  width: 45%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.preview {
  width: 100%;
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.results-container {
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 150px;
  text-align: center;
}

h3 {
  color: #0054a6;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
