<ion-content class="ion-padding">
  <div class="title-container">
    <h1 class="main-title">ButterflAI</h1>
    <h2 class="subtitle">Detector and Classificator</h2>
    <p class="authors">Pablo y Jairo</p>
    <!-- Botón de descarga del APK -->
    <a href="https://drive.google.com/uc?export=download&id=1O-liTP4_6jbJLg1SsTMgejRB49yk3DIP" class="download-button">
      Download APK
    </a>
  </div>

  <!-- Escuchar el evento (detectionsFound) que emite el componente hijo -->
  <app-deteccion 
    (detectionsFound)="onDetectionsReceived($event)"
    (sendToClassifier)="onSendToClassifier($event)">
  </app-deteccion>

  <!-- Escuchar el evento (detectionsFound) que emite el componente hijo -->
  <app-clasification 
    *ngIf="imageToClassify" 
    [image]="imageToClassify" 
    [detections]="detections" 
    (classificationFound)="onClassificationReceived($event)">
  </app-clasification>

  <!-- Chatbot (Solo visible cuando isChatOpen es true) -->
  <div class="chat-container" *ngIf="isChatOpen">
    <app-chatbot></app-chatbot>
  </div>

  <!-- Botón flotante para abrir/cerrar el chatbot -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleChat()">
      <img src="assets/icon/logo_butterflai_grande.png" alt="Logo" class="fab-logo">
    </ion-fab-button>
  </ion-fab>

   <!-- Sección de imágenes de los creadores -->
   <div class="creators-container">
    <div class="creator">
      <img src="assets/images/Pablo.jpg" alt="Foto de Pablo">
      <p style="color:white">Pablo</p>
      <div class="social-icons">
        <a href="https://github.com/PabloGM1204" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="https://www.linkedin.com/in/pablo-garc%C3%ADa-mu%C3%B1oz-a9b2402a9/" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </div>
    </div>
    <div class="creator">
      <img src="assets/images/Jairo.jpg" alt="Foto de Jairo">
      <p style="color:white">Jairo</p>
      <div class="social-icons">
        <a href="https://github.com/jairopo" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a href="https://www.linkedin.com/in/jairo-andrades-bueno/" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</ion-content>
